* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: #07b65f;
    width: 100%;
    height: 150px;
    transition: 0.5s;
}

#menu {
    position: fixed;
    right: 0%;
    top: 200px;
    width: 250px;
    background-color: transparent;
    text-align: center;
    display: block;
    z-index: 0;

}
#menu a {
    display: block;
    padding: 15px;
    background-color: #48ce65;
    border: 5px solid #48ce65;
    color: white;
    border-radius: 100px;
    transition: 0.15s;
    margin: 12px;
}
#menu a:hover {
    background-color: white;
    color: #48ce65;
    font-weight: bold;
    transition: 0.3s;
}

h1 {
    padding: 15px 0 5px;
}

h1, h3, pre, table, img, iframe {
    margin: 8px 50px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #222222;
    margin: 0;
    padding: 0;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
}

pre {
    line-height: 175%;
}

footer table {
    margin: auto;
    color: #ffffff;
    width: 90%;
    padding: 0;
    border: 0px solid transparent;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 25px 40px;   
}
#head {
    position: absolute;
    margin: 40px 200px;
}

#t2 {
    padding: 5px;
    border: 1px black solid;
    margin-bottom: 30px;
}